
.col-4{
    min-width: 130px;
}

select{
    text-align: center;
}

option.notdisabled{
    color: white;
    background-color: green;
    text-align: center;

}

option.disabled{
    color: white;
    background-color: red;
    text-align: center;

}

