<div class="constainer-fluid">
    <div class="container" id="Box">
        <div class="row boxRow">
            <div class="col boxCol" id="O1">01</div>
            <div class="col boxCol" id="O2">02</div>
            <div class="col boxCol" id="O3">03</div>
            <div class="col boxCol" id="O4">04</div>
        </div>
        <div class="row boxRow">
            <div class="col boxCol" id="O5">05</div>
            <div class="col boxCol" id="O6">06</div>
            <div class="col boxCol" id="O7">07</div>
            <div class="col boxCol" id="O8">08</div>
        </div>
        <div class="row boxRow">
            <div class="col boxCol" id="O9">09</div>
            <div class="col boxCol" id="l0">10</div>
            <div class="col boxCol" id="l1">11</div>
            <div class="col boxCol" id="l2">12</div>
        </div>
        <div class="row boxRow">
            <div class="col boxCol" id="l3">13</div>
            <div class="col boxCol" id="l4">14</div>
            <div class="col boxCol" id="l5">15</div>
            <div class="col boxCol" id="l6">16</div>
        </div>
    </div>
</div>
