<div class="container-fluid">
    Delete<br>
    <button type="button" class="btn btn-success" (click)="refreshValues()">Load</button>
    <div class="card border-0 shadow rounded-3 my-5">
        <form class="row align-items-center " [formGroup] = "deleteMedicineForm">
            <div class="col form-floating ms-2 " id="boxNo">
                <select formControlName="boxSelectForm"  class="form-select" id="boxNumber" required>
                    <option selected disabled value="0">Choose...</option>
                    <option  *ngFor="let boxNumber of boxNumbersFull" [value]="boxNumber.medb_id">{{boxNumber.medb_box_no}}</option>
                </select> 
                <label for="boxNumber" class="form-label">Choose a box</label>
            </div>

            <div class="col">OR</div>

            <div class="col form-floating me-2" id="medicineName">
                <select formControlName="nameSelectForm" class="form-select" id="medName" required>
                    <option selected disabled value="0">Choose...</option>
                    <option  *ngFor="let medName of results" [value] = "medName.medb_id" >{{medName.medb_name}}</option>
                </select> 
                <label for="medName" class="form-label">Choose a Medicine</label>
            </div>
            <div class="w-100 my-3"></div>

            <div class="col-12">
                <button class="btn btn-primary" [disabled]="isSubmitDisabled" (click) = "deleteMedicine()" type="submit">Delete</button>
            </div>
        </form>
    </div>

   
</div>
