<div class="container-fluid" >
    <div class="card border-0 shadow rounded-3 p-5 my-5" style ="min-width: 166px;">
        <div class="row justify-content-center">

 
            <div class="col-md-4  p-2" style="min-width: 166px;">
                <div class="card border-0 shadow rounded-3  p-2 h-100  ">
                    <div class="conatiner p-2">
                        <div class="container">
                            <button type="button" class=" btn btn-success p-2"  (click)="checkConnection()" >
                                {{connectionButton}}
                                <span *ngIf="loading"  aria-hidden="true"  class="spinner-grow spinner-grow-sm"></span>
                            </button>
                        </div>
                        <div class = "conatiner p-2" [ngClass]="colorClass">{{status_text}} {{currentIp}}</div>
                    </div>
                </div> 
            </div>

            <div class="col-md-7 p-2" style="min-width: 166px;">
                <div class="card border-0 shadow rounded-3  p-2 h-100 ">
                    <div class="container">
                        <form class="align-items-center container" [formGroup]="manageIpForm">
                            <div class="col form-floating my-2">
                                <input formControlName="ipInputForm" id="amountInputBox"  
                                [ngClass]="[
                                manageIpForm.get('ipInputForm')?.invalid && 
                                manageIpForm.get('ipInputForm')?.touched ? 'form-control is-invalid':'form-control']"
                                placeholder="Ip" type="amount">
                                <div class = "invalid-feedback" *ngIf="manageIpForm.get('ipInputForm')?.errors?.['ipValidator']; else invalidIpError">*Invalid Ip</div>
                                <ng-template  #invalidIpError><div class = "invalid-feedback">*required Field</div></ng-template>
                                <label for="amountInputBox">Ip Address</label>  
                            </div> 
                        </form>
                        
                        <button type="button" class="btn btn-success m-1"  (click)="setESPiP()" >
                            Try IP
                        </button>
                    </div>
                </div>
            </div>

            <div class="w-100"></div>

            <div class="col-md-3  p-2" style="min-width: 166px;">
                <div class="card border-0 shadow rounded-3  p-2 h-100  ">
                    <div class="conatiner p-2">
                        <form class="align-items-center container" [formGroup]="testESPForm">
                            <div class="col form-floating my-2">
                                
                                <input formControlName="textInputForm" id="valueInputBox"  class = "form-control"
                                placeholder="Value" type="amount"> 
                                <label for="valueInputBox">Value as</label>  
                            </div> 
                            
                        </form>
                        <button type="button" class=" btn btn-success p-2"  (click)="esp_test()" >
                            esp_test_1
                        </button>
                        <button type="button" class=" btn btn-primary p-2 m-1"  (click)="attemptConnection()" >
                            attempt connection
                        </button>
                    </div>
                </div> 
            </div>


        </div>
    </div>
        
</div>
