<div class="container-fluid" >
    <button type="button" class="btn btn-success" (click)="refreshValues()">Load</button>


    <div class="card border-0 shadow rounded-3 my-5 p-2">
        

        <form class="align-items-center" [formGroup]="updateMedicineForm">

            <div class="row  my-3">
                <div class="col form-floating m-2" id="boxNo">     
                    <select formControlName="medicineSelectForm"  class="form-select" id="BoxNumber">
                        <option selected value=0>Choose...</option>
                        <option  *ngFor="let boxNumber of getSortedMedicinesByBox()" [value]="boxNumber.med_id">{{boxNumber.med_box_no}}</option> 
                    </select> 
                    <label for="BoxNumber" class="form-label">Choose a box</label>
                </div> 

    
                <div class="col form-floating m-2 " id="med">
                    <select formControlName="medicineSelectForm" class="form-select" id="MedName">
                        <option selected  value=0>Choose...</option>
                        <option  *ngFor="let medName of getSortedMedicinesByName()" [value]="medName.med_id">{{medName.med_name}}</option>
                    </select> 
                    <label for="MedName" class="form-label">Choose a Medicine</label>
                </div>
            </div>

            
            <div class="row my-3">
                <div class="col  form-floating my-2" >
                    <input formControlName="nameInputForm" id="medicineInputBox" 
                     [ngClass]="[
                     updateMedicineForm.get('nameInputForm')?.invalid &&
                     updateMedicineForm.get('nameInputForm')?.touched ? 'form-control is-invalid':'form-control']"
                     oninput="this.value = this.value.toUpperCase()"
                     placeholder="Medicine Name" type="name">
                    <label for="medicineInputBox">Medicine Name</label>
                    <div id="medInputError" class = "invalid-feedback" >*required Field</div>
                </div>

                <div class="col form-floating my-2">
                    <input formControlName="amountInputForm" id="amountInputBox"  
                    [ngClass]="[
                     updateMedicineForm.get('amountInputForm')?.invalid && 
                     updateMedicineForm.get('amountInputForm')?.touched ? 'form-control is-invalid':'form-control']"
                     placeholder="Amount" type="amount">
                    <div class = "invalid-feedback" *ngIf="updateMedicineForm.get('amountForm')?.errors?.['onlyNumbers']; else otherAmountError">*Only numbers</div>
                    <ng-template  #otherAmountError><div class = "invalid-feedback">*required Field</div></ng-template>
                    <label for="amountInputBox">Amount</label>  
                </div> 

                <div class="col form-floating my-2 ">
                    <select formControlName="boxSelectForm" id="boxNumberOptional" 
                    class="form-select" 
                    [ngClass]="[updateMedicineForm.get('boxSelectForm')?.invalid && updateMedicineForm.get('boxSelectForm')?.touched ? 'form-control is-invalid':'form-control']">
                        <option selected  disabled value=0></option>
                        <option [disabled]="checkForDisabled(numb)" *ngFor="let numb of boxNumbers" [value]="numb">{{numb}}</option>
                    </select> 
                    <label for="boxNumberOptional" class="form-label">{{boxNoLabel}}</label>
                    <div class = "invalid-feedback">*required Field</div>
                </div>
            </div>
        </form>

        <div class="row">
            <div class="col-6 d-flex justify-content-end">
                <button class="btn btn-danger w-50" [disabled]="!updateMedicineForm.valid || deleteButtonDisabled" 
                 (click)="onDelete()" >Delete</button>
            </div>

            <div class="col-6 d-flex align-items-start" *ngIf="modeAddOrUpdate; else modeUpdate">
                <button class="btn btn-primary w-50" 
                [disabled]="(!updateMedicineForm.valid)"
                 (click)="onAdd()"  >Add</button>
            </div>

            <ng-template #modeUpdate>
                <div class="col-6 d-flex align-items-start">
                    <button class="btn btn-primary w-50" 
                    [disabled]="(updateMedicineForm.invalid) || (this.updateMedicineForm.get('amountInputForm')?.pristine && this.updateMedicineForm.get('nameInputForm')?.pristine && this.updateMedicineForm.get('boxSelectForm')?.pristine)"
                     (click)="onUpdate()"  >Update</button>
                </div>
            </ng-template>
        </div>
        
    </div>
</div>



